.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 1;
}
