ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h3{
  margin-block-end: 0;
  margin-block-start: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* .logo {
  asdas 
} */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  padding-left: 64px;
  display: flex;
}

/* и элемента с модификатором вида ключ-значение */


.header_title{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  position: relative;

}

.header_subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    width: 388px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header_main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom:0;

}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  right: 0;
  top: 64px;

}

.description {
  justify-content: center;
  display: flex;
  padding-top: 100px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph{
  margin-top:0;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;

}
.two-columns__span-accent{
  font-weight: 600px;
}

/* digits */

.digits{
  margin: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title{
  text-align: justify 60%;
  text-align: center;
  font-weight: normal;
  line-height: 1.15px;
  font-size: 60px;
}

.section-subtitle{
  text-align: justify 60%;
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  padding-top: 20px;
}
.table{
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* feynman */

.feynman {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-image: url("../images/feynman.png");
  background-repeat:no-repeat;
  background-color: #F2F2F2;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  margin-top: 100px;
  height: 890px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600px;
  text-align: center;
  margin: auto;
  padding: 100px;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.feynman__link{
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
}
/* kaufman */

.kaufman {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:black;
  position: relative;
  padding-top: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  margin-bottom: 20px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  margin-right: 0;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
}

/* footer */

.footer {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 350px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* .footer__column {
   line-height: 30px;
  font-size: 18px;
  font-weight: normal; 
   display: flex;
  flex-direction:column; 
} */

.footer__column_content-copyright {
  flex-basis: 711px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  background-repeat: no-repeat;
  /* display: flex;
  align-items: center; */
  height: 32px;
  width: 228px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer_ul {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
